/*logo*/
.LOGO {
    margin: 10px 0px 20px 50px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

section {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}


/*Botão*/
.acompanhamento {
    background-color: rgba(71, 4, 97);
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 1px 2px 20px;
    border: rgba(71, 4, 97);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(254, 255, 253);
    transition: .5s;
    font-weight: bolder;
}

.acompanhamento:hover {
    color: rgb(128, 205, 42);
}

.img-button {
    width: 80px;
    height: 80px;
    margin: 0px 0px -110px -65px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.botano {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 150px 0px 0px 100px;
}

h1 {
    margin: 40px 0px 50px 30px;
    color: rgba(71, 4, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*mexe no conteúdo dentro da div mercadoria*/
.mercadoria {
    border: 2px solid #96206F;
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
    background-color: #ff01aa23;
}

/*mexe no texto dentro da div conteudo*/
.conteudo {
    text-align: center;
}

/*mexe no texto valor*/
.valor {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    width: 270px;
    height: 35px;
    margin: 30px 0px 30px 0px;
    background-color: #ff25b6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mexe no botão excluir*/
.excluirItem {
    display: flex;
    background: none;
    color: #96206F;
    border: none;
    margin: -170px 0px 0px 210px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

.excluirItem:hover {
    color: red;
}